<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- APIs LINKs -->
    <link href="../public/index.css" rel="stylesheet">
    <link href="../public/web.css" rel="stylesheet">
    <link href="../public/stars.css" rel="stylesheet">

    <link href="/index.css" rel="stylesheet">
    <link href="/web.css" rel="stylesheet">
    <link href="/stars.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/icons/thespacechat.png" />

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- END THE APIs LINKs -->


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYQ2V8RF4B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PYQ2V8RF4B');
    </script>

    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7833536069273051"
        crossorigin="anonymous"></script>

    <title>Spacechat</title>
</head>

<body>
    <header>
        <h1>SPACECHAT </h1> &nbsp;
        <img class="logo" src="/icons/thespacechat.png" width="42px">
    </header>
    
    <div id="encrypted-connect" class="encrypted_connect ect" style="display: none;"></div>

    <div id="space_loading">
        <div class="space_loading">
            <div class="space_loading_title"> encrypted-connect </div>
            <div class="space_loading_line"></div>
        </div>
    </div>

    <!-- SECTION -->
    <div class="home">
        <div id="error"></div>
        <!-- #1 ENTER TO THE SECTION 2 -->
        <div id="access" style="display: none;">

            <div id="access_mes">

            </div>

            <div class="fill_data">

                <div class="access_title">
                    Enter an exist username and password and pincode or create new one, with thespacechat it really
                    doesn't matter.
                </div>

                <div class="fill_data_form">
                    <div class="input_title"> Username </div>
                    <div class="username_section">
                        <input type="text" id="username" placeholder="" autocomplete="off">
                        <p>#</p> <input type="text" id="pincode" placeholder="0000" autocomplete="off" maxlength="4"
                            minlength="2">
                    </div>

                    <div class="input_title"> Password </div>
                    <div class="password_section">
                        <input type="text" id="password" placeholder="" autocomplete="off">
                    </div>
                    <p> by entering a thespacechaat, you agree to <a href="/rouls" class="linkrous"> the policy of using
                            the site</a>. </p>
                </div>

            </div>
            <div class="drop_data" id="drop_data">
                <div class="drop_data_title"> Database </div>
                <div class="drop_data_form">
                    <div class="drop_data_dis"> Choice a way to save or receive the data! </div>
                    <div class="select_data">
                        <div class="data_select" id="browser_data" onclick="select_data(0)">
                            Browser
                        </div>
                        <div class="data_select" id="none_data" onclick="select_data(1)">
                            None
                        </div>
                    </div>
                    <div id="upload_data_mes"></div>
                </div>
            </div>
            <div id="enter_click">
                Login
            </div>
        </div>
        <!-- #2 HERE WILL BE THE WEBAPP -->
        <div id="chat" style="display: none">
            <div class="main_slider">
                <div class="selectItem" id="messages" onclick="select(0)">
                    <img class="lightOff" src="/icons/message-regular.svg" width="24px">
                </div>
                <div class="selectItem" id="searching" onclick="select(1)">
                    <img class="lightOff" src="/icons/meteor-solid.svg" width="24px">
                </div>
                <div class="selectItem" id="you" onclick="select(2)">
                    <img class="lightOff" src="/icons/user-astronaut-solid.svg" width="24px">
                </div>
            </div>
            <div id="main_container">
                <div class="loading">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION -->


    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/web.js"></script>
    <script src="/web.js"></script>
</body>

</html>